/* DECLARE VARIABLES */
:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
    --white: hsl(0, 0%, 100%);

    --ff: 'Kumbh Sans', sans-serif;
}

/* GENERAL STYLING */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #d3dce3;
}

a:hover {
    cursor: pointer;
}

ol {
    list-style: none;
}

body, .flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

body, .flex-column {
    flex-direction: column;
}

h1, li {
    font-weight: 700;
    font-size: 1.2rem;
    color: var(--very-dark-desaturated-blue);
}

p, span {
    font-weight: 400;
    color: var(--dark-gray);
}

/* LAYOUT DESIGN */
body {
    min-height: 100vh;
    font-family: var(--ff);
    text-align: center;
    padding: 1rem;
    gap: 1rem;

    background-color: var(--dark-cyan);
    background-image: url('images/bg-pattern-top.svg'), url('images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: 120% 190%, -30% -100%;
}

section {
    background-color: var(--white);
    border-radius: .75rem;
    gap: 1rem;
}

.avatar-container {
    width: 100%;
    height: 8rem;
    border-radius: .75rem .75rem 0 0;

    position: relative;
    background-image: url('images/bg-pattern-card.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.avatar {
    border-radius: 50%;
    border: .3rem solid var(--white);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.wrapper {
    margin-top: 4rem;
    gap: 1rem;

    font-size: 1.2rem;
}

h1 {
    font-size: 1.2rem;
}

.decoration-line {
    width: 100%;
    border: .01rem solid var(--dark-grayish-blue);
    opacity: .2;
    margin-top: .5rem;
}

.interactivity {
    padding: 1.4rem 2rem;
    padding-top: 0;
}

.interactivity {
    gap: 3rem;
}

.interactivity li {
    gap: .5rem;
    font-size: 1.2rem;
}

span {
    font-size: .8rem;
}

footer p {
    color: var(--very-dark-desaturated-blue);
}

@media (min-width: 48rem) {
    body {
        background-position: -80% 300%, 200% -150%;
    }
}